<%= form_with model: [@post, @post.comments.build] do |f| %>

    <div class="mb-3">
        <%= f.label :commenter, class:"form-label" %><br>
        <%= f.text_area :commenter, class:"form-control-sm" %>
    </div>

    <div class="mb-3">
        <%= f.label :body, class:"form-label" %><br>
        <%= f.rich_text_area :body, class:"form-control" %>
    </div>

    <div>
        <%= f.label :status %><br>
        <%= f.select :status, ['public', 'private', 'archived'], selected: 'public' %>
    </div>

    <br>
    <%= f.submit "Post Comment", class:"btn btn-secondary" %>
<% end %>
