<%= form_with model: @post do |f| %>
    <%# [TO-DO] "Error msg are handled in alerts partial, this can be implented later for display error msg's regarding a post" = render 'layouts/error_messages', f: f.object %> 
    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
        <% @post.errors.full_messages_for(:title) do |msg| %>
            <div> <%= msg %> <div>
        <% end %>

    </div>

    <div>
        <%= f.label :body %>
        <%= f.rich_text_area :body %>
        <% @post.errors.full_messages_for(:body) do |msg| %>
            <div> <%= msg %> <div>
        <% end %>
    </div>

    <div>
        <%= f.label :status %><br>
        <%= f.select :status, ['public', 'private', 'archived'], selected: 'public' %>
    </div>


    <%= f.submit "Submit" %>
<% end %>
